body {
	margin: 0;
}

.App {
	background-color: white;
}

.test {
	height: 75px;
	background-color: #333;
	color: whitesmoke;
	text-align: center;
	font-size: 15px;
	display: flex;
	justify-content: left;
	align-items: center;
	padding-left: 50px;
}

.photo {
	border: 4px solid black;
}

.navbar {
	border-bottom: 5px solid #17a2b8;
}

.navItem {
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
}

.photo {
	background-color: #18bc9c;
	text-align: center;
	animation: shadow-pulse 1s infinite;
}


@keyframes shadow-pulse {
    0% {
    	box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  	}
  	100% {
    	box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  	}
}

.projectSection {
	background-color: #18bc9c;
}

.footer {
	background-color: #333;
	height: 40px;
	color: white;
	text-align: center;
	padding: 15px;
}

.aboutMe {
	text-align: center;
}

.subComponentHeaders {
	text-align: center;
}

.infoRow {
	content: "";
	display: table;
	clear: both;
	margin: 25;
}
.infoColumn {
	float: left;
	padding: 10;
	width: 700;
	text-align: left;
}

.subcont {
	border-radius: 50%;
}

.subphoto {
	border: 2px solid black;
	opacity: 0.1;
}

.subovl {
	opacity: 1;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	color: black;
  	font-weight: bold;
}

.subcont:hover .subovl {
	opacity: 0;
}

.subcont:hover .subphoto {
	opacity: 1;
	border: 2px solid black;
}

.cont {
	background-color: black;
}

.bgimg {
	opacity: 0.2;
}

.ovl {
	opacity: 1;
	text-align: center;
	vertical-align: middle;
	top: 50;
}

.cont:hover .bgimg {
	opacity: 1;
}

.cont:hover .ovl {
	opacity: 0;
}

.jumbo{
	height: 700;
}

.formGroup {
	width: 500;
	display: inline;
}

.formControl {
	border-radius: 0;
	background-clip: unset;
	margin-bottom: 10;
}
.formControl1 {
	border-radius: 0;
	background-clip: unset;
	height: 100;
	vertical-align: initial;
}

.highlights {
	width: 800;
	margin-left: 120;
	text-align: justify;
}

.foot {
	color: white;
}

.about {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 28;
	font-weight: normal;
	text-align: center;
}

.aboutme {
	padding-top: 75;
	padding-bottom: 20;
}

.imageFull {
	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), url("largeMural.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.resume {
	height: 300;
	width: 100%;
	background: linear-gradient(rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), url("largeMural.jpg");
	background-attachment: fixed;
}